<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/satiwan bank project/bank_mangement_system/src/bank_mangement_system/main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="bank_mangement_system.main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="satiwan bank project"/>
</launchConfiguration>
